.header-text {
    margin: 15px;
    font-weight: bold;
}

.pi {
    font-size: 2rem !important;
}

.inputgroup-custom-text {
    margin-right: 7px;
}

.save-button {
    background-color: green;
    color: white;
}
.message-list-detail {
    background-color: rgb(224, 224, 224);
    border-radius: 2px;
    border: 1px solid darkgray;
    margin-bottom: 1px;
}

.message-tag {
    margin-right: 3px;
    font-weight: 600;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid darkgray;
}

.message-tag-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.createddate-text{
    margin-left: 3px;
}

.message-communicationType-title{
    font-weight: bold;
    padding: 4px;
}

.customernote-title{
    font-weight: bold;
}