.sub-header {
    margin: 10px;
    font-weight: bold;
}

.sub-header-text{
    margin-left: 3px;
}

.pi {
    font-size: 2rem !important;
}

.mailreminder-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.mailreminder-date-icon {
    color: dodgerblue;
    margin-right: 5px;
}
