.header-text {
    margin: 15px;
    font-weight: bold;
}

.pi {
    font-size: 2rem !important;
}

.pi.pi-plus {
    margin-right: 10px !important;
}

.save-button {
    background-color: green;
    color: white;
    margin: 0 auto;
    display: block;
    height: 50px;
    padding: 5px 30px;
}

.save-button-label {
    margin-left: 10px !important;
}